.card{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    margin-left: -20px;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 200px;
  }

  #video_scroll{
    margin-left: 20px;
  }